*{
    margin: 0;
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid black;
    border-radius: 10px;
    height: max-content;
    min-height: 300px;
    width: 300px;
}

.container_own{
    padding: 15px;
}

h1 {
    margin: 30px;
    padding: 0;
    text-align: center;
    color: black;
    font-size: 25px;
    text-transform: uppercase;
}

.input-form {
    text-align: center;
    margin-bottom: 10px;
}

.register_link{
    display: flex;
    font-size: 15px;
}

.btn_submit{
    height: 29px;
    width: max-content;
    min-width: 70px;
    color: black; background: white; border: 1px solid black; font-size: medium; font-family: revert;
}

.input-form input {
    padding: 10px;
    width: 100%;
    color: black;
    font-size: 20px;
    background: none;
    outline: none;
    border: 1px solid black;
    box-sizing: border-box;
}
